# CMake files
/build

# Visual Studio
/.vs

# Libraries
/libs/libovr/OculusSDK
/libs/vulkan

# Python cache
/scripts/__pycache__
/scripts/stubs/__pycache__

# Runtime switcher
/RuntimeSwitcher/obj
/RuntimeSwitcher/bin
/RuntimeSwitcher/packages

# CLion/Rider files
/.idea
/RuntimeSwitcher.DotSettings.user
/RuntimeSwitcher/.idea

# clangd cache
.cache/
